body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  background-color: #f7f7f7;
  color: #444;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1a1a1a;
  color: #fff;
  padding: 10px 20px;
}
.header h1 {
  margin: 0;
  font-size: 24px;
  font-weight: normal;
  text-transform: uppercase;
}
.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.header li {
  margin: 0 10px;
}
.header a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
}
.header a:hover {
  background-color: #fff;
  color: #1a1a1a;
}

nav a:hover {
  background-color: #fff;
  color: #1a1a1a;
}

.row {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.leftcolumn {
  flex-basis: 70%;
  margin-right: 2%;
}

.rightcolumn {
  flex-basis: 28%;
}

.card {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.card h5 {
  font-size: 16px;
  margin-bottom: 10px;
  color: #666;
}

.meta {
  font-size: 14px;
  color: #888;
  margin-top: 10px;
}

/* Button styling */
.btn {
  display: inline-block;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #444;
}

.btn-primary {
  background-color: #000000;
}

.btn-primary:hover {
  background-color: #303030;
}

.btn-warning {
  background-color: #5e5e5e;
}

.btn-warning:hover {
  background-color: #646464;
}

.btn-danger {
  background-color: #dc3545;
}

.btn-danger:hover {
  background-color: #c82333;
}

/* Form styling */
form input[type="text"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
  width: 70%;
}

form button[type="submit"] {
  display: inline-block;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  border: none;
}

form button[type="submit"]:hover {
  background-color: #444;
}